# General Python artifacts
*.pyc
*.pyo
__pycache__/
*.pyd
*.pyc
*.egg-info/
dist/
build/
install/
logs/
*.egg
.cache
.pytest_cache/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# C/C++ artifacts
*.o
*.a
*.so
*.dylib
*.lib
*.d
*.exe
*.out
*.app
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Colcon workspace specific
build/
install/
log/
src/

# Editor settings and backups
*.sublime-*
*.swp
*.bak
*.tmp
*~
*.vscode/
.idea/
*.orig

# Hidden system files
.DS_Store
Thumbs.db

# Others
*.tar.gz
*.zip
*.rar
*.tar

# Environment files
.env
*.venv
*.conda-env
